html{
    scroll-padding-top: 80px; /* El valor es la del navbar sticky */
}

/*creacion de una imagen de fondo con algo de transparencia*/
body{
    background-image: url(imagenes/header.jpg);  /*imagen de fondo*/
    background-position: fixed;  /*posicion imagen de fondo*/
    background-attachment: fixed; /*indica como se "mueve" la imagen de fondo*/
    background-size: 100% 100%; /*tamaño de la imagen de fondo*/
    background-repeat: no-repeat; /*indica la posibilidad de que la imagen se repita y en que eje*/
    opacity: 65%; /*transparencia de la imagen*/
    scroll-behavior: smooth; /* Añade un desplazamiento suave al hacer scroll */
}

header{
    text-align: center; /* alinea el texto en la posicion que se especifique*/
    font-size: xx-large; /* indica el tamaño del texto*/
    color: azure; /* indica el color del texto*/
}


 /*le quita el subrayado a los elementos a*/
a{
    text-decoration: none;
}


/* crea un navbar el cual se pega a la parte suerior de la pagina, es decir te sigue a medida que bajas y se superpone a todo*/
nav{
    position: sticky;
    z-index: 999;           /*indica la profundidad, se superpone a cosas que tengas un menor numero que el que se le ponga*/
    display: flex;          /* centrar el contenido */
    justify-content: center; /* Centra los items del navbar */
    align-items: center; 
    height: 80px;           /*indica la altura*/
    top: 0px;               /*indica la altura a donde se pega con el sticky*/
    background-color: rgb(155, 12, 191); /*le da un color al fondo*/
    text-align: center;
    
}

.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; 
}

.listaMenu{
    line-height: 80px;  /*indica la altura de la caja*/
    display: inline-block; /*indica que las caja o cajas que se coloquen estaran en una linea en bloque*/
    
}

.enlazeMenu{
   font-size: xx-large;
   padding: 0 10px;    
   color: rgb(22, 164, 141);
   display: block; /* indica que el texto aparece como una caja*/
}

.enlazeMenu:hover{
    color: rgb(4, 247, 206);
    background-color: rgba(238, 4, 4, 0.6);
    box-shadow: 0 0 10px rgba(4, 133, 238, 0.6); /* indica el color del borde de la caja*/
   cursor: pointer;
}




aside{
    position: fixed
}

/*crea una caja donde van a estar las "rutas rapidas" a los apartados"*/
.lateral {
    position: fixed;
    background-color: aliceblue;
    right: 2%;   /*indica que el texto inicia en un valor indicao a la derecha*/
    top: 40%;       /* indica a que altura empieza el texto*/
    width: 10%; /* Ancho del cuadro */
    text-align: center;
    border: 3px solid blueviolet;
    padding: 20px; 
}

.listaLateral{   
    list-style: none;
}

.enlazeLateral{
    font-size: x-large;
    color: rgb(23, 145, 124);
}
.enlazeLateral:hover{
    color: rgb(4, 243, 203);
    cursor: pointer;
}

/*creacion de una caja blanca generica para que se pueda observar el texto*/
section{
    position: relative;
    background-color: aliceblue;
    left: 2%;
    margin-top: 100px;
    width: 75%; /* Ancho del cuadro */
    height: 75%; /* Alto del cuadro */
    text-align: center;
    min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la pantalla */
    color: rgb(7, 134, 245);
}

 /*utilizado unica y exclusivamente para el inicio del respectivo html, es decir de que va a tratar*/
.encabezado{
        font-size: xx-large;
        color: rgb(23, 143, 10);    
}



.Apartados{
    font-size: x-large;
    color: rgb(193, 128, 7);
}

.parrafo{
    padding: 5px;
    text-align: center;
    font-size: x-large;
    color: rgb(0, 136, 255);
}

/*coloca la table en el centro del contenedor*/
.tablaCentro{
    text-align: center;
    color: rgb(107, 196, 18);
}
.encabezadoTabla{
    font-size: larger;
    color: rgb(223, 68, 12);
}

.enlaceSubApartado{
    font-size: x-large;
    color: rgb(6, 164, 162);
    margin: 20px; /* el margen que se pone entre cosas*/
}

/* al poner el cursor soble el enlace hace que cambie de color*/
.enlaceSubApartado:hover{
    color: rgb(1, 255, 251);
    cursor: pointer;
}

.enlaceApartado{
    font-size: x-large;
    color: rgb(135, 89, 3);
}

.enlaceApartado:hover{
    color: rgb(255, 169, 8);
    cursor: pointer;
}

.personaje{
    font-size: large;
    
}

/* esto se hace para poder colocar una imagen a la izquieda de un texto sin 
que molerte a las imagenes que estan encima o debajo*/
.articulo{
    display: flex;
    align-items: flex-start;
    font-size: large;
    margin: 10px;
}

.informacionPersonaje{
    font-size: medium;
    font-family: 'Courier New';
    flex:1;
    text-align: center;
    color: rgb(8, 65, 41);
}

.imagenPersonaje{
    width: 250px;
    height: 400px;

}

.informacionDesarrollador{
    font-size: medium;
    font-family: 'Courier New'; /*indica el estilo de la letra del texto*/
    flex:1;
    text-align: center;
    color: rgb(16, 48, 68);
}

footer{
    background-color: blanchedalmond;
    text-align: center;
    color: black;
    font-size: large;
}